body {
  background-image: url(../images/BG\ image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
main {
  background-color: rgba(54, 37, 207, 0.833);
  width: 100vw;
  height: 100vh;
}
.header {
  padding: 15px;
  padding-bottom: 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: solid 1px rgba(94, 94, 94, 0.7);
  transition: all 0.5s;
}

.header.fixedMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.fixedMenu .logo img {
  max-width: 100px;
  margin-left: 40px;
}
.header nav {
  display: flex;
  align-items: center;
}
.header nav a {
  color: #fff;
  font-size: 14px;
  margin: 10px;
  margin-bottom: -1px;
  font-weight: 600;
  text-decoration: none;
  padding-bottom: 20px;
}
.header nav a.active {
  border-bottom: solid 1px #f45587;
  color: #f45587;
}
.header nav input {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  width: 100px;
  padding-bottom: 10px;
}
.header nav button {
  display: flex;
  background-color: #f45587;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
  margin: auto 40px auto 10px;
  border: none;
}
section {
  color: #fff;
  position: relative;
  height: 80%;
  display: grid;
  place-items: center;
}
h4 {
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}
h3 {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  margin-top: 10px;
}
h1 {
  font-size: 70px;
  text-align: center;
  font-weight: 900;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f45587;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  margin: 10px;
}
.buttons button:last-child {
  background-color: transparent;
  color: snow;
  width: fit-content;
}
.buttons button:last-child span {
  background-color: snow;
  color: #f45587;
  display: grid;
  place-content: center;
  height: 24px;
  width: 24px;
  font-size: 20px;
  font-weight: 900;
  border-radius: 50%;
}
div.centered {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 40px;
}
img.absolute {
  position: absolute;
}
img.absolute.right {
  right: 0;
  top: 50px;
}
img.absolute.shape_bottom {
  right: 50px;
  bottom: -50px;
}

/* .header .navbar .logo {
  color: #fff;
}
.header .navbar .logo img {
  transition: all 0.5s;
  max-width: 135px;
  width: 100%;
}

.header .navbar .mainMenu .navbar-nav {
  align-items: center;
}
.header .navbar .mainMenu .navbar-nav .nav-item {
  margin-right: 50px;
}
.header .navbar .mainMenu .navbar-nav .nav-item .custom-button {
  background-color: #f45587;
  padding: 3px 8px;
  border-radius: 3px;
  margin-right: 5px;
}
.header .navbar .mainMenu .navbar-nav .nav-item a {
  color: snow;
  text-decoration: none;
}
.header .navbar .mainMenu .navbar-nav .nav-item:last-child {
  margin-right: 0;
}
.header .navbar .mainMenu .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  padding: 0;
  font-weight: 500;
}
.header .navbar .mainMenu .navbar-nav .nav-item .nav-link-home {
  padding-bottom: 10px;
  border-bottom: 1px solid #f45587;
}
.header .navbar .mainMenu .navbar-nav .nav-item .nav-link:hover {
  padding-bottom: 10px;
  border-bottom: 1px solid #f45587;
}

.header .info {
  margin: 200px;
  text-align: center;
  color: gainsboro;
}

.header .info .bottom-buttons .custom-button {
  background-color: #f45587;
  padding: 3px 8px;
  border-radius: 3px;
  margin-right: 5px;
}

.header .info .bottom-buttons .custom-button img {
  height: 10px;
  width: 10px;
}
.header .info .bottom-buttons .custom-button a {
  color: snow;
  text-decoration: none;
}

.header img {
  margin-left: 50%;
} */
